*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    background: url(https://tileswale.com/cdn-cgi/imagedelivery/mzSuEo-CuZj22GZ2Ldj31w/ab2b82c4-cf55-4f45-d609-3da2523c4a00/public) no-repeat;
    text-align: center;
    min-height: 100vh;
    text-transform: capitalize;
}
button{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 200px;
    font-size: 20px;
}

