* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

button {
  outline: none;
  border: none;
  text-transform: uppercase;
  font-family: Anton, Arial, Helvetica, sans-serif;
  font-weight: 400;
}

body {
  font-family: anton, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  overflow-x: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 140px;
  padding-right: 140px;
  padding-top: 40px;
  color: white;
}
.hero {
  width: 100%;
  height: 1040px;
  background-image: url(hero_bg.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  z-index: 2;
}

.mobileHeroSectionImage {
  display: none;
}

.menuicon {
  display: none;
}

nav img {
  width: 116px;
  height: 95px;
}

nav ul {
  margin-left: 139px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  gap: 66px;
}
nav ul li a {
  cursor: pointer;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24.09px;
  /* font-weight: 400; */
  text-wrap: nowrap;
  font-family: anton, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

nav span {
  display: flex;
  align-items: center;
}
nav svg {
  font-size: 2rem;
  display: inline;
  cursor: pointer;
}

.locationButton {
  background-color: white;
  color: black;
  width: 162px;
  height: 65px;
  text-transform: uppercase;
  display: inline-block;
  margin-left: 29px;
  text-wrap: nowrap;
  border: none;
  border-radius: 45px;
  cursor: pointer;
  font-size: 18px;
  font-family: anton, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.hero__content {
  display: flex;
  align-items: center;
  gap: 40px;
  padding-left: 140px;
  padding-right: 92px;
  color: white;
  text-align: left;
}

.titleMobile {
  display: none;
}

.descMobile {
  display: none;
}

.hero__content .right {
  display: inline-block;
  width: 806px;
  height: 800px;
}

.hero__content .left {
  display: inline-block;
}

.hero__content .left h1 {
  line-height: 210.75px;
  font-size: 140px;
  text-wrap: nowrap;
  z-index: 12;
}

.hero__content .left h2 {
  font-size: 50px;
  margin-top: -14px;
  margin-bottom: 1rem;
  text-wrap: nowrap;
  color: black;
}

.hero__content .right img {
  width: 806.3715209960938px;
  height: 800.0000610351562px;
  object-fit: contain;
}

.orderButton {
  width: 331.4769287109375px;
  height: 133px;
  background-color: #af1201;
  border-radius: 500px;
  border: none;
  outline: none;
  font-family: Anton, Arial, Helvetica, sans-serif;
  color: white;
  font-size: 18px;
  /* padding: 2rem 4rem; */
  /* border-radius: 100px; */
  /* font-size: 2rem; */
  /* margin-top: 2rem; */
}

.menu {
  /* display: none; */
  width: 50px;
  height: 4px;
  background-color: black;
  margin: 6px 0;
  /* transition: 0.4s; */
  transition: all 0.5s ease;
  /* animation-direction: alternate; */
  border-radius: 30px;
}

.menuIcon {
  display: none;
  transition: all 0.5s ease;
  /* animation-direction: alternate; */
}

.ourStory {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 140px;
  padding-top: 90px;
  padding-bottom: 20px;
  color: black;
}

.ourStory .ourStory__image__container {
  padding: 2rem;
  width: 50%;
  flex: 1;
}

.ourStory .ourStory__image__container img {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  object-fit: contain;
}

.ourStory .ourStory__content {
  padding: 1rem;
  color: #626262;
  width: 50%;
  flex: 1;
  padding-bottom: 3rem;
}

.ourStory .ourStory__content h1 {
  font-size: 70px;
  color: #000000;
}

.ourStory .ourStory__content p {
  font-size: 16px;
  line-height: 24px;
  margin-top: 2rem;
  font-weight: 400;
  text-transform: none;
  font-family: poppins, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.address {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  z-index: 14;
  padding: 6rem;
  gap: 80px;
  margin: 2rem 0 0 0;
  color: black;
  background-image: url(section3.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.address_img_container {
  padding-top: 4rem;
}

.address_img_container img {
  width: 714px;
  height: 528px;
  border-radius: 50px;
  max-width: 1000px;
  object-fit: cover;
}

.address_container_content {
  min-width: 40%;
  margin-bottom: 30px;
}

.address_container_title {
  font-size: 70px;
  text-wrap: nowrap;
  color: white;
}

.address_container_address {
  font-size: 24px;
  color: #fdc60e;
}

.address_container_btn {
  color: #af1201;
  /* width: fit-content; */
  width: 162px;
  height: 65px;
  text-align: center;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 1rem 2rem; */
  border-radius: 100px;
  /* font-size: 1.5rem; */
  margin-top: 2rem;
  background-color: white;
  cursor: pointer;
}

.TheMenu {
  position: relative;
  z-index: 10;
  width: 100%;
  background-image: url(./section4Menu.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-color: #191919; */
  color: white;
  margin-top: -5rem;
  /* transform: translateY(-5rem); */
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.TheMenu::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: #191919;
  z-index: -1;
}
.bgForMenu {
  position: absolute;
  top: -40px;
  left: 0;
  width: 100vw;
  height: 4rem;
  /* background-color: rgba(0, 0, 0, 0.5); */
  z-index: 1;
}

.theMenuContainer {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
  flex-direction: column;
}
.theMenuContainer h1 {
  font-size: 4.5rem;
}

.theMenu__slider {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 31px 76px;
  /* margin: 31px 76px; */
  width: 100%;
  overflow-x: scroll;
  gap: 47px;
  scrollbar-width: none;
  scroll-padding: 2rem;
  -ms-overflow-style: none;
}

.sliderItem {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #191919;
  border-radius: 25px;
  margin: 0 0.5rem;
  cursor: pointer;
  flex: 0 0 auto;
  margin: 0 auto;
  transition: all 0.3s ease;
}

.slider_img_container {
  width: 295px;
  height: 295px;
  background-color: #fdc60e;
  padding: 1rem;
  border-radius: 20px;
}

.sliderItem img {
  width: 267px;
  height: 235px;
  object-fit: cover;
  border-radius: 25px;
}

.slider_content {
  padding: 25px;
  text-align: center;
  font-size: 24px;
}

#main_item .slider_content {
  padding-top: 20px;
  padding-bottom: 14px;
  color: #fdc60e;
}

.sliderItem:hover {
  transform: translateY(-10px);
}

#main_item {
  color: black;
  width: 401px;
}

#main_item .ogIcon {
  width: 77.5px;
  height: 77.5px;
  position: absolute;
  top: 20px;
  right: 20px;
}

#main_item .slider_img_container {
  width: 334px;
  height: 294px;
  object-fit: cover;
}

.ogIcon {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  right: 10px;
}

#main_item .slider_img_container {
  position: relative;
  background-color: white;
  color: black;
  width: 401px;
  height: 401px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* max-width: 400px; */
}

#main_item .slider_img_container img[alt="item"] {
  width: 334px;
  height: 294px;
  object-fit: cover;
  border-radius: 20px;
}

.sldier_buttons {
  display: block;
  height: 30px;
}

.slider_next_button {
  display: inline-block;
  margin-left: 7px;
  cursor: pointer;
}

.slider_previous_button {
  display: inline-block;
  margin-right: 7px;
  cursor: pointer;
}

.slider_content_description {
  font-size: 14px;
  color: white;
  font-family: poppins, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: none;
  text-align: center;
}

.ourLocation {
  position: relative;
  margin-top: -10rem;
  padding: 5rem 0;
  flex-direction: column;
  height: 1100px;
  color: black;
  background-image: url(./ourLocation.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 4rem;
}

.ourLocationHeading {
  font-size: 70px;
  text-align: center;
  color: black;
  margin-top: 13rem;
}

.ourLocationImage_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 45px;
  margin-bottom: 4rem;
  width: 100%;
  gap: 33px;
}

.ourLocationImage_container {
  width: fit-content;
  flex: 0 0 auto;
  width: 575px;
  height: 510px;
  position: relative;
  /* background-color: #fdc60e; */
  padding: 1rem;
  border-radius: 20px;
  background-image: url("./californiaBG.jpg");
  background-size: cover;
  background-position: center;
}

.ourLocationImage_container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1c1c1c;
  opacity: 0.7;
  border-radius: 20px;
}

.ourLocationImage_container:last-child {
  background-image: url(./tokyoBG.jpg);
}

.ourLocation_content {
  position: absolute;
  top: 1.5rem;
  left: 2rem;
}

.ourLocation_city {
  font-size: 40px;
  color: #fdc60e;
}

.ourLocation_address {
  font-size: 24px;
  color: #fdc60e;
}

.ourLocation_btn {
  position: absolute;
  bottom: 42px;
  left: 38px;
  color: white;
  width: fit-content;
  padding: 1rem 2.7rem;
  border-radius: 100px;
  font-size: 18px;
  margin-top: 2rem;
  background-color: #af1201;
  cursor: pointer;
}

.catering {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 711px;
  /* margin-top: -10rem; */
  /* transform: translateY(-25rem); */
  background-image: url(./catering-bg_grad.png), url(./catering-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.catering_heading {
  font-size: 70px;
  color: white;

  text-align: center;
}

.catering_desc {
  font-size: 24px;
  color: #fdc60e;
  text-align: center;
}

.catering_button:first-child {
  color: white;
  background-color: #af1201;
}

.catering_button {
  color: #af1201;
  width: fit-content;
  width: 162px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  font-size: 18px;
  background-color: white;
  cursor: pointer;
}

.catering_btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2.5rem;
}

.followus {
  position: relative;
  width: 100%;
  min-height: 867px;
  z-index: 99;
  height: fit-content;
  margin-top: -10rem;
  /* transform: translateY(-35rem); */
  background-image: url(./followUsBG.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top center;
  padding: 7rem 0;
}

.followus_container {
  display: flex;
  position: relative;

  margin: 100px auto;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: fit-content;
}

.followus_heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 70px;
  line-height: 105.38px;
  text-align: center;
}

.followus_image_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 18px;
  margin-top: 41px;
}

.followus_image {
  width: 313px;
  height: 313px;
  overflow: hidden;
  border-radius: 10px;
  /* background-color: #fdc60e; */
  /* border-radius: 50%; */
  /* object-fit: cover; */
}

.followus_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.followusButton {
  display: grid;
  place-content: center;
  color: black;
  width: 162px;
  height: 65px;
  border-radius: 100px;
  font-size: 18px;
  background-color: #fdc60e;
  cursor: pointer;
}

footer {
  background-color: #535456;
  /* transform: translateY(-40rem); */
  position: relative;
  font-family: poppins, Arial, Helvetica, sans-serif;
  text-transform: capitalize;
}

footer::before {
  content: " ";
  position: absolute;
  top: -90px;
  left: 0;
  /* border: red 20px solid;  */
  width: 100%;
  height: 50%;
  background-color: #535456;
  z-index: 10;
}

.footer_container {
  display: flex;
  gap: 105px;
  padding: 61px 143px;
  color: white;
}

.footer_logo {
  width: 220px;
  height: 180px;
}

.footer_logo img {
  width: 100%;
  height: 100%;
}

.footer_social {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.footer_social_title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 1rem;
}

.footer_social_socials {
  display: flex;
  gap: 8px;
}

.footer_user_links {
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
}

.footer_user_links_title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 1rem;
}

.footer_user_links_links {
  display: flex;
  flex-direction: column;
}

.footer_user_links_links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  text-wrap: nowrap;
  margin-bottom: 0.5rem;
}

.footer_locations {
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
}

.footer_locations_title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 1rem;
}

.footer_locations_links {
  display: flex;
  flex-direction: column;
}

.footer_locations_links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 0.5rem;
}

.footer_newsletter {
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
}

.footer_newsletter_title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 1rem;
}

.footer_newsletter_input {
  display: flex;
  gap: 1rem;
}

.footer_newsletter_input input {
  height: 50px;
  font-family: poppins, Arial, Helvetica, sans-serif;
  border: none;
  /* border-radius: 5px; */
  border-bottom: #ffffff 1px solid;
  color: white;
  background-color: transparent;
  width: 341px;
}

.footer_newsletter_input input::placeholder {
  color: #a6a6a6;
}

.footer_newsletter_input input:focus {
  outline: none;
  border-bottom: 2px solid white;
}

.footer_newsletter_button {
  color: white;
  width: fit-content;
  font-family: anton, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  width: 162px;
  height: 65px;
  border-radius: 100px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 29px;
  background-color: #af1201;
  cursor: pointer;
}

/* ---------------------------------------- */
/* media quaries for 575px - mobile device  */
/* ---------------------------------------- */

@media screen and (max-width: 575px) {
  .menuIcon {
    display: block;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 23px;
    padding-top: 29px;
    padding-bottom: 28px;
    color: white;
  }
  .hero {
    width: 100%;
    height: 1047px;
    background-image: url(hero_bg.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    z-index: 2;
  }

  nav img {
    width: 92px;
    height: 75px;
  }

  nav ul {
    display: none;
  }
  nav ul li a {
    display: none;
  }

  nav span {
    display: flex;
    align-items: center;
  }

  nav span.location {
    display: none;
  }
  nav svg {
    display: none;
  }

  .desktopTitle {
    display: none;
  }

  .titleMobile {
    display: block;
  }

  .locationButton {
    display: none;
  }

  .menuicon {
    width: 50px;
    height: 32px;
    display: block;
  }

  .menuicon svg {
    display: block;
  }

  .hero__content {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    gap: 0px;
    padding-left: 0px;
    padding-right: 0px;
    color: white;
    text-align: left;
  }

  .titleMobile {
    display: block;
  }

  .descMobile {
    display: none;
  }

  .hero__content .right {
    display: inline-block;
    width: 401px;
    height: 398px;
  }

  .hero__content .left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero__content .left h1 {
    text-align: center;
    font-weight: 400;
    padding: 5px;
    padding: 0 49px;
    font-size: 70px;
    line-height: 73.15px;
    text-wrap: wrap;
  }

  .hero__content .left h2 {
    text-wrap: wrap;
    color: black;
    text-align: center;
    margin: 0;
    font-size: 25px;
    line-height: 37.63px;
    font-weight: 400;
  }

  .hero__content .right img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .orderButton {
    width: 331.4769287109375px;
    height: 133px;
    background-color: #af1201;
    border-radius: 500px;
    border: none;
    outline: none;
    font-family: Anton, Arial, Helvetica, sans-serif;
    color: white;
    font-size: 18px;
    margin: 15px auto;
  }

  .menu {
    /* display: none; */
    width: 50px;
    height: 4px;
    background-color: black;
    margin: 6px 0;
    /* transition: 0.4s; */
    transition: all 0.5s ease;
    /* animation-direction: alternate; */
    border-radius: 30px;
  }

  .mobileHeroSectionImage {
    display: block;
  }

  .desktopHeroSectionImage {
    display: none;
  }

  .desktopDesc {
    display: none;
  }

  .descMobile {
    display: block;
  }

  .ourStory {
    flex-direction: column;
    padding: 0 19px;
  }

  .ourStory .ourStory__image__container {
    width: 100%;
    padding: 0;
  }

  .ourStory .ourStory__content {
    padding: 0;
    width: 100%;
  }

  .ourStory .ourStory__content h1 {
    font-size: 40px;
    text-align: center;
    line-height: 60.21px;
    padding-top: 12px;
    padding-bottom: 16px;
  }

  .ourStory .ourStory__content p {
    margin: 0;
    text-align: center;
    padding: 16px 41px;
  }

  .address {
    background-size: cover;
    background-position: left -950px center;
    flex-direction: column;
    gap: 0;
  }

  .address_img_container img {
    width: 506px;
    height: 374px;
    border-radius: 50px;
    max-width: 1000px;
    object-fit: cover;
  }

  .address_container_title {
    font-family: Anton, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 60.21px;
  }
  .address_container_content {
    padding-top: 46.76px;
    margin-right: 49px;
    margin-left: 49px;
  }
  .address_container_address {
    font-size: 18px;
    text-align: center;
    line-height: 27.1px;
  }
  .address_container_btn {
    margin: 40px auto;
  }

  .TheMenu {
    padding-bottom: 116px;
  }

  .theMenuContainer {
    margin-top: 93px;
  }

  .theMenuContainer h1 {
    font-size: 40px;
  }

  .theMenu__slider {
    gap: 87px;
    padding: 34px 76px;
  }
  .slider_content_description {
    padding: 0 10px;
  }

  .ourLocationHeading{
    display: none;
  }

  .ourLocationImage_wrapper{
    flex-direction: column;
  }

  .ourLocationImage_container{
    margin-top: -6px;
    display: flex;
border-radius: 0;
  }
  .ourLocationImage_container::before{
    border-radius: 0;
  }
/* 
  .ourLocation_btn{
    position: relative;
  } */
}
